*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style-type: none;
}
.header{
  top:0;
  left: 0;
  width: 100%;
  padding: 35px 12%;
  background-color: rgba(26, 24, 24, 0.629);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}
.logo{
  font-size: 25px;
  font-weight: 600;
  color: white;
  transition: 0.3s ease;
}
.logo:hover{
  color: orangered;
  text-shadow: 0 0 25px orangered, 0 0 50px orangered;
  transform: scale(1.1);
}
span{
  color: rgb(246, 72, 8);
}
.navbar a{
  font-size: 18px;
  color: white;
  font-weight: 500;
  margin: 0 20px;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}
.navbar a:hover ,
.navbar.active {
  color: orangered;
  border-bottom: 3px solid orangered;

}
.contact{
  color:black;
  font-size: 16px;
  font-weight: 600px;
  letter-spacing: 1px;
  background-color:whitesmoke;
  border: 2px solid transparent;
  border-radius: 7px;
  padding: 10px 20px;
}
.contact:hover{
  background-color: rgb(233, 236, 239);
  
  box-shadow: 0 0 20px white;
  color: black;
}
.home {
   width: 100%;
   min-height: 100vh;
   background-color:aliceblue;
   display: flex;
   align-items: center;
   gap: 7em;
   padding: 30px 12% 0;
}
.section1{
  display: grid;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.home-content{
  max-width: 100hv;
}
.home-content h3{
  font-size: 30px;
}
.home-content h1{
  font-size: 40px;
  line-height: 1.2;
}
.home-content p{
  font-size: 18px;
  margin: 15px 0px 30px;
}
.btn-box{
  display: flex;
  width: 325px;
  gap: 2em;
  
}
.btn-1, .btn-2{
  padding: 15px 20px;
  background-color: black;
  color: white;
  font-size: 18px;
  border: 1px solid transparent;
  border-radius: 50px;
  margin-bottom: 5px;
  margin-top: 10px;

}
.btn-1:hover, .btn-2:hover{
  color: black;
  transition: 0.3 ease-in-out;
  background-color: rgb(225, 208, 181);
}
img{
  position: relative;
  float: left;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  
}
.h4{
  font-size: 17px;
  font-weight: 900;
letter-spacing: 1px;
}
.section2{
  margin-top: 20px;
}
footer{
  background-color: darkgrey;
}